<body>
    <list navigationTitle="Settings">
        <toggle key="DEBUG_MODE">DEBUG_MODE</toggle>
        
        
        <buttonAddToAppleWallet addPassButtonStyle="black"/>
        <buttonAddToAppleWallet action="openUrl:https://shaffex.com/passkit/GeneratedPasses/2026-05-08-194441.pkpass" addPassButtonStyle="blackOutline"/>
        
        <button action="openUrl:https://shaffex.com/passkit/GeneratedPasses/2026-05-08-194441.pkpass">openUrl</button>
        <button action="addPassToWallet">addPassToWallet</button>
        
        <button action="showBanner:type:error;text:This is a test message">showBanner:type:error</button>
        <button action="setBool:isShowingBanner=true">isShowingBanner true</button>
        <button action="setBool:isShowingBanner=false">isShowingBanner false</button>
        
        
        <section header="Databases">
            <text badge="$dataFilesVersion">Data Files Version</text>
            <navigationlink destination="viewDatabaseAirlines">Airlines</navigationlink>
            <navigationlink destination="viewDatabaseAirports">Airports</navigationlink>
            <button action="checkForDataUpdate">checkForDataUpdate add dialog</button>
            
        </section>
        
        <section header="working">
            <toggle key="barcodeRectSound">Sound on scan</toggle>
        </section>
        
        <section header="About">
            <text badge="Shaffex Limited">Developer</text>
            <text badge="$SYSTEM_BUNDLE.VERSION">Version</text>
            <group if="$DEBUG_MODE">
            <text  badge="$SYSTEM_BUNDLE.BUILD">Build</text>
            
            
            </group>
            
            
            
            <button if="$DEBUG_MODE" foregroundColor="accentColor" action="openUrl:itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1166018608&amp;onlyLatestVersion=true&amp;pageNumber=0&amp;sortOrdering=1&amp;type=Purple+Software">Rate this app</button>
            <navigationlink destination="settings_privacyPolicy">Privacy Policy</navigationlink>
            <navigationlink destination="settings_contactUs">Contact us</navigationlink>
        </section>
        
    </list>
    
    <extendedlist id="viewDatabaseAirlines" navigationTitle="Airlines ($dataModelAirlines.count)" xnavTrailing="id:buttonsTrailing" autocapitalization="none" disableAutocorrection="true" dataModel="dataModelAirlines" searchable="mode:starts;allMustMatch:false;keys:[name,code];caseSensitive:false" xcontentUnavailable="contentNoData">
        <text badge="$dataModel.code">$dataModel.name</text>
    </extendedlist>
    
    <extendedlist id="viewDatabaseAirports" navigationTitle="Airports ($dataModelAirports.count)" xnavTrailing="id:buttonsTrailing" autocapitalization="none" disableAutocorrection="true" dataModel="dataModelAirports" searchable="mode:starts;allMustMatch:false;keys:[name,code];caseSensitive:false" xcontentUnavailable="contentNoData">
        <vstack>
        <text badge="$dataModel.code">$dataModel.name</text>
        <text badge="$dataModel.country">$dataModel.city</text>
        </vstack>
    </extendedlist>
    
    
    <!-- Privacy Policy HTML-->
    <webview id="settings_privacyPolicy" navigationTitle="Privacy Policy">url:https://shaffex.com/api/boardingpass2/Links/privacyPolicy.html</webview>
    
    <!-- Privacy Policy HTML-->
    <webview id="settings_contactUs" navigationTitle="Contact Us">url:https://shaffex.com/api/boardingpass2/Links/contactUs.php</webview>
    
    
<!-- dataModelAirlines and dataModelAirports are declared in MainScreen.xml so they are available app-wide. -->
    
</body>
